div.innerChat {
	width: 20px;
}
div#canvasContainer {
	position: relative;
	top:0px;
	/*left:-70px;*/
	left: 5px;
	float:right;
	width:1500px;
}
div#mapChatContainer {
  padding-bottom:50px;
}
div#canvasContainer canvas, textArea {
	height: 1250px;
	width: 1250px;
	position: absolute;
}
textarea#textArea {
	background-color: transparent;
  resize: none;             
}
div#canvasContainer {
	width: 1250px;
}
div#chat {
	width: 500px;
	background:white;
}
form#form {
	width: 482px;
}
input#text {
	width: 400px!important;
}
div#privateChat {
	width:500px;
	height:100px;
}
input#privateInput {
	width: 500px!important;
}
form#privateForm {
	width: 482px;
}
input#tool_annotate {
	background:url(/res/img/palette/annotate.png) no-repeat;
	width: 68px;
	height: 68px;
}
input#tool_shadow {
	background:url(/res/img/palette/shadow.png) no-repeat;
	width: 68px;
	height: 68px;
}
input#tool_wipe {
	background:url(/res/img/palette/wipe.png) no-repeat;
	width: 68px;
	height: 68px;
}
input#tool_erase {
	background:url(/res/img/palette/erase.png) no-repeat;
	width: 68px;
	height: 68px;
}
input#tool_move {
	background:url(/res/img/palette/pointer.png) no-repeat;
	width: 68px;
	height: 68px;
}
input#tool_delete {
  background:url(/res/img/palette/delete.png) no-repeat;
  background-color:white;
	width: 68px;
	height: 68px;
}
#swatch {
	width: 50px;
	height: 50px;
	margin-top: 18px;
	margin-left: 350px;
	background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }
/*DM map Control*/
div#dmMaps {
	height : 75px;
	width: 100px;
	overflow-x: auto;
}
div.playerBlock {
	width: 55px; float: left
}

/*bottom area drawer*/

.tabItem {
  width: 100px;
  height:100px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
  background:brown;
}

#tabViewContainer {
  bottom: 0px;
  height: 65px;
  overflow: hidden;
  position: fixed;
  right: 0px;
  width: 500px;
  z-index: 1e+06;
}

#tabbedView {
  bottom: -30px;
  display: block;
  height: 92px;
  overflow: hidden;
  padding: 15px 30px 0px 17px;
  right: 0px;
  width: 675px;
  z-index: 1;
  background:brown;
}

#tabbedView p {
  padding: 10px;
}

#tabbedContentContainer {
  bottom: 0px;
  height: 75px;
  overflow: hidden;
  position: fixed;
  right: 0px;
  width: 515px;
  z-index: 1e+06;
}

#tabbedContentArea {
  bottom: -30px;
  display: block;
  height: 500px;
  overflow: hidden;
  padding: 15px 30px 0px 17px;
  right: 0px;
  width: 550px;
  z-index: 1;
  background:gray;
}