<h1>Testing Random Dice Rolls</h1>
<div>
	<span>iterations so far:<span id="iterations">0</span></span>
</div>
<div number="2" class="dice">
	<h2>D2 rolls</h2>
	<div>
		<span>
			1:<span id="d2-1">0</span>
		</span>
	</div>
	<div>
		<span>
			2:<span id="d2-2">0</span>
		</span>
	</div>
</div>
<div number="8" class="dice">
	<h2>D8 rolls</h2>
	<div>
		<span>
			1:<span id="d8-1">0</span>
		</span>
	</div>
	<div>
		<span>
			2:<span id="d8-2">0</span>
		</span>
	</div>
	<div>
		<span>
			3:<span id="d8-3">0</span>
		</span>
	</div>
	<div>
		<span>
			4:<span id="d8-4">0</span>
		</span>
	</div>
	<div>
		<span>
			5:<span id="d8-5">0</span>
		</span>
	</div>
	<div>
		<span>
			6:<span id="d8-6">0</span>
		</span>
	</div>
	<div>
		<span>
			7:<span id="d8-7">0</span>
		</span>
	</div>
	<div>
		<span>
			8:<span id="d8-8">0</span>
		</span>
	</div>
</div>
<div number="20" class="dice">
	<h2>D20 rolls</h2>
	<div>
		<span>
			1:<span id="d20-1">0</span>
		</span>
	</div>
	<div>
		<span>
			2:<span id="d20-2">0</span>
		</span>
	</div>
	<div>
		<span>
			3:<span id="d20-3">0</span>
		</span>
	</div>
	<div>
		<span>
			4:<span id="d20-4">0</span>
		</span>
	</div>
	<div>
		<span>
			5:<span id="d20-5">0</span>
		</span>
	</div>
	<div>
		<span>
			6:<span id="d20-6">0</span>
		</span>
	</div>
	<div>
		<span>
			7:<span id="d20-7">0</span>
		</span>
	</div>
	<div>
		<span>
			8:<span id="d20-8">0</span>
		</span>
	</div>
	<div>
		<span>
			9:<span id="d20-9">0</span>
		</span>
	</div>
	<div>
		<span>
			10:<span id="d20-10">0</span>
		</span>
	</div>
	<div>
		<span>
			11:<span id="d20-11">0</span>
		</span>
	</div>
	<div>
		<span>
			12:<span id="d20-12">0</span>
		</span>
	</div>
	<div>
		<span>
			13:<span id="d20-13">0</span>
		</span>
	</div>
	<div>
		<span>
			14:<span id="d20-14">0</span>
		</span>
	</div>
	<div>
		<span>
			15:<span id="d20-15">0</span>
		</span>
	</div>
	<div>
		<span>
			16:<span id="d20-16">0</span>
		</span>
	</div>
	<div>
		<span>
			17:<span id="d20-17">0</span>
		</span>
	</div>
	<div>
		<span>
			18:<span id="d20-18">0</span>
		</span>
	</div>
	<div>
		<span>
			19:<span id="d20-19">0</span>
		</span>
	</div>
	<div>
		<span>
			20:<span id="d20-20">0</span>
		</span>
	</div>
</div>
<div>
	<script src="/lib/test/dice.js" type="text/javascript"></script>
</div>