<div id="playerContainer">
	<h3>Update?</h3>
	<form method="POST" action="<%= player.href %>">
		<input id="name" value="<%= player.name %>" name="name" type="text">
		Character Name
		<div class="clear"></div>
		<input id="class" name="class" value="<%= player._class %>" type="text">
		Class
		<div class="clear"></div>
		<input id="race" name="race" value="<%= player.race %>" type="text">
		Race
		<div class="clear"></div>
		<input type="radio" name="image" "<%= player.image == 'Tokens' ? "checked='true'" : '' %>" value="Tokens" /> <img src="/res/img/Tokens.png">
		<input type="radio" name="image" "<%= player.image == 'Tokens4' ? "checked='true'" : '' %>" value="Tokens4" /> <img src="/res/img/Tokens4.png">
		<input type="radio" name="image" "<%= player.image == 'Tokens5' ? "checked='true'" : '' %>" value="Tokens5" /> <img src="/res/img/Tokens5.png">
		<input type="radio" name="image" "<%= player.image == 'Tokens6' ? "checked='true'" : '' %>" value="Tokens6" /> <img src="/res/img/Tokens6.png">
		<div class="clear"></div>
		<input id="submit" name="submit" type="submit">
	</form>
</div>