<div>
	<span>Hello <%= name %>. Care to change your default image?</span>
	<div class="clear"></div>
	<img src="<%= image %>"> Current default image
	<div class="clear"></div>
	<input type="radio" name="image" value="Tokens" /> <img src="/res/img/Tokens.png">
	<input type="radio" name="image" value="Tokens4" /> <img src="/res/img/Tokens4.png">
	<input type="radio" name="image" value="Tokens5" /> <img src="/res/img/Tokens5.png">
	<input type="radio" name="image" value="Tokens6" /> <img src="/res/img/Tokens6.png">
	<div class="clear"></div>
	<input id="submit" name="submit" type="submit">
</div>
<div>
	Or perhaps you'd like to upload a custom one... hmm?
	
</div>