Have an account? Login below or Register now.
<div class="clear" style="height 50px;"></div>
<h2>Login</h2>
<div id="loginContainer">
	<input id="user" name="user" type="text" />
	Name    
	<div class="clear"></div>
	<input id="pass" name="pass" type="text" />
	Password
	<div class="clear"></div>
	<input id="passConfirm" name="passConfirm" type="text" />
	Confirm  Password
	<div class="clear"></div>
	<input id="submitLogin" value="register" type="submit" />
</div>
<div class="clear" style="height50px;"></div>

<h2>Register</h2>
<div id="regContainer">
	<input id="userReg" name="userReg" type="text">
	Name
	<div class="clear"></div>
	<input id="passReg" name="passReg" type="password">
	Password
	<div class="clear"></div>
	<input id="passRegConfirm" name="passRegConfirm" type="password">
	Confirm  Password	
	<div class="clear"></div>
	<input id="submitReg" value="Register" type="submit" />
</div>