<h2>Login</h2>
<div id="loginContainer">
	<form name="login" method="POST" action="/account/login">
		<input id="user" name="user" type="text" />
		Name    
		<div class="clear"></div>
		<input id="pass" name="pass" type="password" />
		Password
		<div class="clear"></div>
		<input id="submitLogin" value="Login" type="submit" />
</div>
<div class="clear"></div>
<div style="margin-top:20px">
	<span><input type="button" value="Switch" id="logonRegSwitcher" onclick="switchLogonToReg(true); return false;" />No account yet? Need to register?</span>
</div>
<div class="error">
	<%= message %>
</div>
<div class="script">
	<script src="/lib/account.js" language="javascript"></script>
</div>
