<html>
    <head>
        <title>Tabletop Server</title>
		<!--TODO: set the title here as a variable the view will set (SEO-ish) -->
		<!-- TODO: javascript, css-->
		<script src="http://cdn.socket.io/stable/socket.io.js"></script>
		<link rel="stylesheet" type="text/css" href="/res/dnd.css" />
    </head>
    <body vlink="blue">
        <a href="/">Home</a>
        |
        <a href="/account">Account</a>
        |
        <a href="/session">Start / Join a Session</a>
        |
        <a href="/map">Maps</a>
        |
		<a href="/pc">Characters</a> 
		|
		<a href="/talk">Talk</a>
		<div id="container">
	        <%= include(view) %>
		</div>
    </body>
</html>
