!!! 5
html(lang="en")
  head
		//TODO: set the title here as a variable the view will set (SEO-ish)
    title Tabletop Server
		//script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js", type="text/javascript")
		//script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js", type="text/javascript"
		//script(src="http://cdn.socket.io/stable/socket.io.js", type="text/javascript")
		script(src="/lib/head-min.js", type="text/javascript")
		script(src="/lib/jquery.js", type="text/javascript")
		script(src="/lib/jquery-ui.min.js", type="text/javascript")
		script(src="/lib/socket.io.js", type="text/javascript")
		link(rel="stylesheet", type="text/css", href="/res/css/fileuploader.css")
		link(rel="stylesheet", type="text/css", href="/res/css/dnd.css?v=3")
		link(rel="stylesheet", type="text/css", href="/res/css/room.css?v=3")
  body(vlink="blue")
		.leftBlock(id="headerLinks")
			a(href="/") Home
			a(href="/account") Account
			a(href="/session") Start / Join a Session
			//a(href="/pc") Characters
			//a(href="/talk") Talk
		.rightBlock(id="trHeader")
			span designed by 
			a(href="http://www.illegaltoaster.com") Tim Jarratt
		.clear
		div#container!= body