<h2>These are your characters, <%= username %></h2>
<div id="playerCharacters">
	<ul>
	<% myPCs.forEach(function(player) { %>
		<li>
			<a href="<%= player.href %>">
				<img src="<%= player.image %>">
				<span><%= player.name %></span>
			<a>
		</li>
	<% }); %>
	</ul>
</div>
<div id="newPlayerContainer">
	<h3>Create a new character?</h3>
	<form name="newPlayer" method="POST" action="/pc/new">
		<input id="name" name="name" type="text">
		Character Name
		<div class="clear"></div>
		<input id="class" name="class" type="text">
		Class
		<div class="clear"></div>
		<input id="race" name="race" type="text">
		Race
		<div class="clear"></div>
		<input id="image" name="image" type="file">
		Image
		<div class="clear"></div>
		<input id="submit" name="submit" type="submit">
	</form>
</div>