<h2><%= display %></h2>
<div id="mapChatContainer">
	<div id="chatContainer">
		<div id="chat">
			<p>Connecting...</p>
		</div>
		<form id="form" onsubmit="send(); return false">
		  <input type="text" autocomplete="off" id="text"><input type="submit" value="Send">
		</form>
	</div>
	<div>
		<div id="canvasContainer">
			<canvas id="background" width="700" height="700"></canvas>
			<canvas id="map" width="700" height="700"></canvas>
			<canvas id="top" width="700" height="700"></canvas>
			<textarea id="textArea" rows="5" cols="14"></textarea>
		</div>
	</div>
</div>
<div id="players">
	<h3>Players</h3>
	<img class="player" src="/res/img/Tokens.png"  />
	<img class="player" src="/res/img/Tokens1.png" />
	<img class="player" src="/res/img/Tokens2.png" />
	<img class="player" src="/res/img/Tokens3.png" />
	<img class="player" src="/res/img/Tokens4.png" />
	<img class="player" src="/res/img/Tokens5.png" />
	<img class="player" src="/res/img/Tokens6.png" />
</div>
<div>
	<script src="/lib/room.js" language="javascript"></script>
	<script language="javascript">
		_listenId = "<%= listenId%>";
		_websocketId = "<%= websocketId %>";
		_default = "<%= useDefault %>";
		
		$(document).ready(initRoom);
	</script>
	<style>
		div#canvasContainer {
			position: relative;
			top:-367px;
			left:-70px;
			float:right;
			padding: 10;
		}
		div#canvasContainer canvas, textArea {
			height: 700px;
			width: 700px;
			position: absolute;
		}
		textarea#textArea {
			background-color: transparent;
		}
		div#canvasContainer {
			width: 700px;
		}
		div#chat {
			width: 500px;
		}
		form#form {
			width: 482px;
		}
		input#text {
			width: 400px!important;
		}
	</style>
</div>
