p Hello iPad user, it's nice to have you here.
canvas(id="background", width="1000", height="1000")
//drawing the actual map image here

canvas(id="shadow", width="1000", height="1000")
canvas(id="shadowDrag", width="1000", height="1000")
//new shadows while dragging are drawn here

canvas(id="map", width="1000", height="1000") 
//the PC images "live" here 

canvas(id="top", width="1000", height="1000") 
canvas(id="annotations", width="1000", height="1000")