<h2><%= display %></h2>
<div id="chat"><p>Connecting...</p></div>
    <form id="form" onsubmit="send(); return false">
      <input type="text" autocomplete="off" id="text"><input type="submit" value="Send">
    </form>
<div>
	<script language="javascript">
		function message(obj){
	        var el = document.createElement("p");
	        if ("announcement" in obj) el.innerHTML = "<em>" + esc(obj.announcement) + "</em>";
	        else if ("message" in obj) el.innerHTML = "<b>" + esc(obj.message[0]) + ":</b>" + esc(obj.message[1]);
	        document.getElementById("chat").appendChild(el);
	        document.getElementById("chat").scrollTop = 1000000;
	      }

	      function send(){
	        var val = document.getElementById("text").value;
			console.log("trying to send message: " + val);
	
	        socket.send(val);
	        message({ message: ["you", val] });
	        document.getElementById("text").value = "";
	      }

	      function esc(msg){
	        return msg.replace(/</g, "&lt;").replace(/>/g, "&gt;");
	      };
        
		  console.log("about to create socket")
		
	      var socket = new io.Socket(null, {port: 8080});
	      socket.connect();
	      socket.on("message", function(data){
			var obj = JSON.parse(data);
		
	        if ("buffer" in obj){
	          document.getElementById("form").style.display="block";
	          document.getElementById("chat").innerHTML = "";

	          for (var i in obj.buffer) message(obj.buffer[i]);
	        } else message(obj);
	      });
	
		  $("div#text").focus();
	</script>
</div>
<div style="display:none">
	<%= startTime %>
</div>
<div style="display:none">
	<%= listenId %>	
</div>
