<h2><%= display %></h2>
<div id="mapChatContainer">
	<div id="chatContainer">
		<div id="chat">
			<p>Connecting...</p>
		</div>
		<form id="form">
		  <input type="text" autocomplete="off" id="text"><input type="submit" value="Send">
		</form>
	</div>
	<div>
		<div id="canvasContainer">
			<canvas id="background" width="700" height="700"></canvas> <!-- drawing the actual map image here -->
			<canvas id="map" width="700" height="700"></canvas> <!-- the PC images live here --> 
			<canvas id="top" width="700" height="700"></canvas> <!-- dragging player images -->
			<canvas id="shadow" width="700" height="700"></canvas>
			<canvas id="shadowDrag" width="700" height="700"></canvas> <!-- new shadows while dragging are drawn here -->
			<canvas id="annotations" width="700" height="700"></canvas>
			<textarea id="textArea" rows="5" cols="14"></textarea> <!-- using this as a drop target -->
		</div>
	</div>
</div>
<%= dmPaletteOrNothing %>
<div id="players">
	<h3>Players</h3>
	<% players.forEach(function(player) { %>
		<img src="<%= player.src %>" id="player_<%= player.name %>">
	<% }); %>
</div>
<div>
	<script src="/lib/room.js" language="javascript"></script>
	<script src="/lib/base64.js" language="javascript"></script>
	<script src="/lib/canvas2Image.js" language="javascript"></script>
	
	<script language="javascript">
		_listenId = "<%= listenId %>";
		_websocketId = "<%= websocketId %>";
		_default = "<%= useDefault %>";
		_image = "<%= imageName %>";
		_userName = "<%= userName %>";
		_url = "<%= url %>";
		_isDM = "<%= isDM? true : false %>";
		
		$(document).ready(initRoom);
	</script>
	<style>
		div#canvasContainer {
			position: relative;
			top:-368px;
			left:-70px;
			float:right;
			padding: 10;
		}
		div#canvasContainer canvas, textArea {
			height: 700px;
			width: 700px;
			position: absolute;
		}
		textarea#textArea {
			background-color: transparent;
		}
		div#canvasContainer {
			width: 700px;
		}
		div#chat {
			width: 500px;
		}
		form#form {
			width: 482px;
		}
		input#text {
			width: 400px!important;
		}
		input#tool_annotate {
			background:url(/res/img/palette/annotate.png) no-repeat;
			width: 30px;
			height: 30px;
		}
		input#tool_shadow {
			background:url(/res/img/palette/shadow.png) no-repeat;
			width: 30px;
			height: 30px;
		}
		input#tool_wipe {
			background:url(/res/img/palette/wipe.png) no-repeat;
			width: 30px;
			height: 30px;
		}
		input#tool_erase {
			background:url(/res/img/palette/erase.png) no-repeat;
			width: 30px;
			height: 30px;
		}
	</style>
</div>
